/* Additional hover effects */

/* White and glow effect on hover for home button */
.home-button:hover {
    color: #3498db;
}

/* Menu item underline effect */
.menu-item::before, .menu-item::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: white;
    width: 0;
    transition: width 0.3s ease;
}

.menu-item::before {
    top: 0;
    left: 0;
}

.menu-item::after {
    bottom: 0;
    right: 0;
}

.menu-item:hover::before {
    width: 100%; /* From left to right */
}

.menu-item:hover::after {
    width: 100%;
}/* From right to left */
